.flip-card {
  background-color: transparent;
  aspect-ratio: 1;
  perspective: 1000px;
  font-family: sans-serif;
  user-select: none;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s, opacity 0.5s;
  transform-style: preserve-3d;
}


.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid white;
  border-radius: 5px;
}

.flip-card-front {
  background-color: #454;
  color: black;
  cursor: grab;
  &:active{
    cursor: grabbing;
  }
}

.flip-card-back {
  background: rgb(78,78,78);
  background: linear-gradient(90deg, rgba(78,78,78,1) 0%, rgba(23,23,23,1) 100%);
  color: white;
  transform: rotateY(180deg);
  cursor: grab;
  &:active{
    cursor: not-allowed;
  }
}

.card-content {
  font-size: 42px;
  font-weight: 600;
}